/* Font Styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Lora:500&display=swap');

body {
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: 200;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Color Styles */
:root {
  --main-color: #f5f5f4;
  --secondary-color: #262626;
  --accent-color: #a8dadc;
  --highlight-color: #ffd166;
}

body {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

a {
  color: var(--accent-color);
}

button,
.btn {
  background-color: var(--accent-color);
  color: var(--main-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: var(--highlight-color);
}

/*Scroll Bar*/

/* Show scrollbar for all browsers */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Minimalistic scrollbar style */
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color); /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background-color: var(--main-color); /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

/* Menu Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  margin-right: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

/* Chat Component */
.live-chat-page {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
}

.chat-window {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 0.5rem;
  height: 90%;
  width: 92vw;
  margin-bottom: 0.7rem;
  overflow-y: scroll;
  padding: 0.5rem;
  background-color: #fcfcfc;
}

.message {
  margin-bottom: 0.5rem;
}

.user {
  font-weight: bold;
  margin-right: 0.5rem;
}

input[type='text'] {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 0.7rem;
  margin-right: 0.5rem;
  padding: 1rem;
  width: 70%;
  background-color: #ffffff;
}

button[type='submit'] {
  background-color: #0070f3;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

/* Chat Features Buttons */
.features {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.features button {
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  cursor: pointer;
}

.features button:hover {
  background-color: #f2f2f2;
}

form {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  padding: 10px;
  border: none;
}

input[type='text'] {
  flex: 1;
  margin-right: 10px;
  border-radius: 5px;
}

input[type='text']:focus {
  outline: none;
}

button[type='submit'] {
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .live-chat-page {
    flex-direction: row;
    height: 80vh;
  }

  .chat-window {
    width: 70%;
    margin-bottom: 0;
  }

  form {
    width: 30%;
  }
}
