.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label-input {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.text-input {
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.submit-button {
  background-color: var(--accent-color);
  color: var(--main-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: var(--highlight-color);
}
